
@keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}

.fade-in {
	animation-name: fade_in;
	animation-duration: 0.3s;
	animation-timing-function: ease;
}

.fade-out {
	animation-name: fade_out;
	animation-duration: 0.3s;
	animation-timing-function: ease;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
/* 	background-color: #000; */
}

.gl_image {
	display:none;
}

#content {
	width: 100%;
	height: 100%;
/* 	Initial fade in */
	animation-name: fade_in;
	animation-duration: 1s;
	animation-timing-function: ease;
}

#screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}


.circle-text {
	position: absolute;
	display: block;
	text-align: center;
	max-width: 180px;
	font-size: 4vmin;
	font-family: 'Montserrat', sans-serif;
	pointer-events: none;
}

#over-canvas {
	z-index: 1;
}

#back-arrow {
	position: absolute;
	top: 1vmin;
	left: 1vmin;
	width: calc( 8vmin + 60px );
	height: calc( 8vmin + 60px );
	opacity: .7;
/* 	Arrow will start off not displaying since nothing's selected.*/
	display: none;
}

.page {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}

.title {
	max-height: 100px;
}
